<div class="chart-container" [style.height.px]="height">
  <ngx-charts-bar-vertical
    [results]="data"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [gradient]="gradient"
    [scheme]="colorScheme"
    [customColors]="customColors"
    [showGridLines]="false">

    <ng-container *ngIf="tooltipTemplateRef">
      <ng-template #tooltipTemplate let-model="model">
        <ng-container
          *ngTemplateOutlet="tooltipTemplateRef; context: { model: model }">
        </ng-container>
      </ng-template>
    </ng-container>

  </ngx-charts-bar-vertical>
</div>